[submodule "examples/HB-UNI-Sen-PRESS"]
	path = examples/HB-UNI-Sen-PRESS
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-PRESS.git
[submodule "examples/HB-UNI-Sen-TEMP-DS18B20"]
	path = examples/HB-UNI-Sen-TEMP-DS18B20
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-TEMP-DS18B20.git
[submodule "examples/HB-UNI-SenAct-4-4"]
	path = examples/HB-UNI-SenAct-4-4
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-SenAct-4-4.git
[submodule "examples/HB-UNI-Sen-WEA"]
	path = examples/HB-UNI-Sen-WEA
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-WEA.git
[submodule "examples/HM-LC-Bl1-FM-2"]
	path = examples/HM-LC-Bl1-FM-2
	url = https://jp112sdl@github.com/jp112sdl/HM-LC-Bl1-FM-2.git
[submodule "examples/HB-UNI-Sen-DIST-US"]
	path = examples/HB-UNI-Sen-DIST-US
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-DIST-US.git
[submodule "examples/HB-UNI-Sen-LEV-US"]
	path = examples/HB-UNI-Sen-LEV-US
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-LEV-US.git
[submodule "examples/HB-UNI-Sen-TEMP-IR"]
	path = examples/HB-UNI-Sen-TEMP-IR
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-TEMP-IR.git
[submodule "examples/HB-UNI-Sen-DUMMY-BEACON"]
	path = examples/HB-UNI-Sen-DUMMY-BEACON
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-DUMMY-BEACON.git
[submodule "examples/HB-UNI-Sen-VOLT"]
	path = examples/HB-UNI-Sen-VOLT
	url = https://jp112sdl@github.com/jp112sdl/HB-UNI-Sen-VOLT.git
